.contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #3b3b3b;
  &_email {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 700px;
    margin: 40px 0;
    &-text {
      color: white;
      font-variant: small-caps;
      font-size: 28px;
      padding: 22px;
    }
    &-links {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      &--element {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 22px;
        text-decoration: none;
        color: whitesmoke;
        .icon {
          margin: 15px 15px 15px 130px;

          svg {
            width: 50px;
            height: 50px;
          }
        }
        &:hover {
          fill: goldenrod;
          color: goldenrod;
          cursor: pointer;
        }
      }
    }
  }
  .stopka {
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0;
  }
}
@media only screen and (max-width: 1600px) {
  .contact {
    &_email {
      width: 700px;
      margin: 40px 0;
      &-text {
        font-size: 28px;
        padding: 22px;
      }
      &-links {
        width: 100%;
        &--element {
          font-size: 18px;
          .icon {
            margin: 15px 15px 15px 130px;
            svg {
              width: 42px;
              height: 42px;
            }
          }
        }
      }
    }
    .stopka {
      padding: 5px 0;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .contact {
    &_email {
      width: 500px;
      margin: 40px 0;
      &-text {
        font-size: 28px;
        padding: 22px;
      }
      &-links {
        width: 100%;
        &--element {
          font-size: 16px;
          .icon {
            margin: 15px 15px 15px 130px;
            svg {
              width: 42px;
              height: 42px;
            }
          }
        }
      }
    }
    .stopka {
      padding: 5px 0;
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    &_email {
      width: 500px;
      margin: 40px 0;
      &-text {
        font-size: 24px;
        padding: 22px;
      }
      &-links {
        width: 100%;
        &--element {
          font-size: 16px;
          .icon {
            margin: 15px 15px 15px 130px;
            svg {
              width: 36px;
              height: 36px;
            }
          }
        }
      }
    }
    .stopka {
      padding: 5px 0;
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    &_email {
      width: 500px;
      margin: 40px 0;
      &-text {
        font-size: 24px;
        padding: 22px;
      }
      &-links {
        width: 100%;
        &--element {
          font-size: 16px;
          .icon {
            margin: 15px 15px 15px 130px;
            svg {
              width: 36px;
              height: 36px;
            }
          }
        }
      }
    }
    .stopka {
      padding: 5px 0;
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 426px) {
  .contact {
    &_email {
      width: 280px;
      margin: 30px 0;
      &-text {
        font-size: 16px;
        padding: 22px;
      }
      &-links {
        width: 100%;
        &--element {
          font-size: 12px;
          .icon {
            margin: 15px 15px 15px 30px;
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .stopka {
      padding: 5px 0;
      font-size: 10px;
    }
  }
}
@media only screen and (max-width: 320px) {
  .contact {
    &_email {
      width: 300px;
      margin: 20px 0;
      &-text {
        font-size: 16px;
        padding: 22px;
      }
      &-links {
        width: 100%;
        &--element {
          font-size: 12px;
          .icon {
            margin: 15px 15px 15px 30px;
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .stopka {
      padding: 5px 0;
      font-size: 8px;
    }
  }
}
