.form,
.form > form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
.form_control {
  width: 100%;
  resize: vertical;
  border: none;
  border-bottom: 1px solid #ffffff93;
  box-sizing: border-box;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 3rem;
  background-color: #4b4b4b;
  color: #ffffff;
  padding-left: 1rem;
}
.btn {
  justify-self: center;
  width: 12rem;
  font-size: 1rem;
  border: 1px solid #ffffff93;
  border-radius: 10px;
}
.btn:hover {
  cursor: pointer;
  background-color: #3c3c3d;
  color: goldenrod;
}
.txt {
  min-height: 3rem;
}
@media only screen and (max-width: 600px) {
  .form_control {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 38px;
    background-color: #212026;
    color: #ffffff;
    padding-left: 1rem;
  }
  .btn {
    width: 120px;
    font-size: 12px;
    border: 1px solid #ffffff93;
    border-radius: 10px;
    padding-left: 0;
  }
  .btn:hover {
    cursor: pointer;
    background-color: #3c3c3d;
    color: lightblue;
  }
  .txt {
    min-height: 3rem;
  }
}
@media only screen and (max-width: 375px) {
  .form_control {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 38px;
    background-color: #212026;
    color: #ffffff;
    padding-left: 1rem;
  }
  .btn {
    width: 140px;
    font-size: 8px;
    border: 1px solid #ffffff93;
    border-radius: 10px;
    padding-left: 0;
  }
  .btn:hover {
    cursor: pointer;
    background-color: #3c3c3d;
    color: lightblue;
  }
  .txt {
    min-height: 3rem;
  }
}
