.skills {
  display: flex;
  flex-flow: column wrap;
  background-color: #7b7b7b;
  padding: 65px 0;
  &_img {
    align-self: flex-end;
  }
  &_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    width: 1000px;
    margin: 50px 0;
    &-item {
      display: flex;
      flex-flow: column wrap;
      flex-basis: 16%;
      margin: 20px 20px;
      // border-bottom: 5px solid goldenrod;
      &--img {
        height: 200px;
        img {
          width: 100%;
        }
      }
      &--name {
        align-self: center;
        color: whitesmoke;
        h3 {
          margin: 0;
          padding-bottom: 5px;
        }
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 5px;
        background: goldenrod;
        transition: width 0.3s;
      }
      &:hover::after {
        width: 100%;
        //transition: width .3s;
      }
    }
  }
  &_desc {
    align-self: center;
    width: 1000px;
    color: white;
    font-size: 18px;
    b {
      color: rgb(238, 202, 111);
    }
  }
}
